<?php if ($_SERVER['SERVER_NAME'] == 'gwlibrary-test.wrlc.org' OR $_SERVER['SERVER_NAME'] == 'gwlibrary-staging.wrlc.org'): ?>
    <div class="staging-header-container">
        <div class="staging-header-message">
            <span style="color:#FC2847">WARNING:</span> this is the staging server for GW Libraries and is intended for internal use only. Content, functionality and design may not match the GW Libraries site (<a href="http://library.gwu.edu">library.gwu.edu</a>)
        </div>
    </div>
<?php elseif ($_SERVER['SERVER_NAME'] == 'gwdrupal.wrlc.org'): ?>
    <div class="staging-header-container">
        <div class="staging-header-message" style="background-color:#ede2cd;">
            <span style="color:#FC2847">WARNING:</span> this is the DEVELOPMENT SERVER for GW Libraries for internal use only. Content, functionality and design <span style="color:#FC2847">DO NOT</span> match the GW Libraries site (<a href="http://library.gwu.edu">library.gwu.edu</a>)
        </div>
    </div>    
<?php endif; ?>
<div id="header">
	<div id="topHat2">
        <div id="logo2">
            <a id="top" href="http://www.gwu.edu/">The George Washington University | Washington DC</a>
        </div>
              
        <!-- Site Specific Search Holder Start-->
        
        <div id="search" class="mobile-hide-960">       
            <form method="GET" action="http://search.gwu.edu/search">
                <fieldset>
                    <div class="inputHolder">	
                        <label for="searchInput">Search String:</label>
                        <input type="text" value="SEARCH GW" id="searchInput" name="q">	
                            <div class="selectHolder">
                                <!--<label for="myselectbox">Select Site to Search:</label>-->
                                <!--<select tabindex="2" name="site" id="myselectbox">
                                    <option value="foo">foo</option>
                                    
                                    <option value="gw_main_VCM" >GW</option>
                                </select>-->
                                <input value="gw_main_VCM" name="client" type="hidden">
                                <input value="phase2fe" name="proxystylesheet" type="hidden">
                                        
                            </div>
                    </div>
                    <button class="pointer" type="submit">go</button>
                </fieldset>
            </form>
        </div>
        
        <!-- Site Specific Search Holder End-->
        
	</div><!--:END #topHat -->
	
</div> <!--:END #header -->