<!-- loading last for faster page load, rest of js is in js/script.js -->

<!-- Flyouts with Vision magazine article intros-->
  <script type="text/javascript"><!--
    var timer;
    jQuery("#vision-features").on("mouseover", "li", function() {
		var feature = jQuery(this);
		timer = setTimeout(function() {
			feature.find(".vision-feature-intro").show();
		}, 500)
    });
    jQuery("#vision-features").on("mouseleave", "li", function() {
		clearTimeout(timer);
		jQuery(this).find(".vision-feature-intro").hide();
    });  
--></script>

<!-- accessibleMegaMenu and Libtheme7 mods -->
  <script type="text/javascript"><!--
	(function ($) {
      $("nav:first").accessibleMegaMenu({
          /* prefix for generated unique id attributes, which are required 
             to indicate aria-owns, aria-controls and aria-labelledby */
          uuidPrefix: "accessible-megamenu",

          /* css class used to define the megamenu styling */
          menuClass: "nav-menu",

          /* css class for a top-level navigation item in the megamenu */
          topNavItemClass: "nav-item",

          /* css class for a megamenu panel */
          panelClass: "sub-nav",

          /* css class for a group of items within a megamenu panel */
          panelGroupClass: "sub-nav-group",

          /* css class for the hover state */
          hoverClass: "hover",

          /* css class for the focus state */
          focusClass: "focus",

          /* css class for the open state */
          openClass: "open"
      });

      /* fix hover/child behavior when menu converts to single buttons. to filter by user agent: && navigator.userAgent.match(/(iPod|iPhone|iPad)/) */
      if ($(window).width() <= 640) {
        $("#nav-research").html("<a href='/research' onClick=\"ga('send','event','primary-nav','/primary-nav/gelman/handheld/research');\">Research</a>");
        $("#nav-collections").html("<a href='/collections' onClick=\"ga('send','event','primary-nav','/primary-nav/gelman/handheld/collections');\">Collections</a>");
        $("#nav-services").html("<a href='/services' onClick=\"ga('send','event','primary-nav','/primary-nav/gelman/handheld/services');\">Services</a>");
        $("#nav-news").html("<a href='/news-events' onClick=\"ga('send','event','primary-nav','/primary-nav/gelman/handheld/news');\">News</a>");
        $("#nav-about").html("<a href='/about' onClick=\"ga('send','event','primary-nav','/primary-nav/gelman/handheld/about');\">About</a>");
        $("#nav-hours").html("<a href='/hours' onClick=\"ga('send','event','primary-nav','/primary-nav/gelman/handheld/hours');\">Hours</a>");
        $("#nav-lai").html("<a href='https://lai.gwu.edu' onClick=\"ga('send','event','primary-nav','/primary-nav/gelman/handheld/lai');\">Academic Innovation</a>");

        $("#nav-eckles-research").html("<a href='/eckles/reference' onClick=\"ga('send','event','primary-nav','/primary-nav/eckles/handheld/research');\">Research</a>");
        $("#nav-eckles-services").html("<a href='/eckles/services' onClick=\"ga('send','event','primary-nav','/primary-nav/eckles/handheld/services');\">Services</a>");
        $("#nav-eckles-about").html("<a href='/eckles/about' onClick=\"ga('send','event','primary-nav','/primary-nav/eckles/handheld/about');\">About</a>");
        $("#nav-eckles-academic-services").html("<a href='/eckles/academic-services-at-eckles' onClick=\"ga('send','event','primary-nav','/primary-nav/eckles/handheld/academic-services');\">Academic Svcs</a>");
        $("#nav-eckles-flix").html("<a href='/eckles/eckles-flix' onClick=\"ga('send','event','primary-nav','/primary-nav/eckles/handheld/flix');\">Eckles Flix</a>");
        $("#nav-eckles-hours").html("<a href='/eckles/hours' onClick=\"ga('send','event','primary-nav','/primary-nav/eckles/handheld/hours');\">Hours</a>");

        $("#nav-virginia-research").html("<a href='virginia/research' onClick=\"ga('send','event','primary-nav','/primary-nav/virginia/handheld/research');\">Research</a>");
        $("#nav-virginia-collections").html("<a href='/virginia/collections' onClick=\"ga('send','event','primary-nav','/primary-nav/virginia/handheld/collections');\">Collections</a>");
        $("#nav-virginia-services").html("<a href='/virginia/services' onClick=\"ga('send','event','primary-nav','/primary-nav/virginia/handheld/services');\">Services</a>");
        $("#nav-virginia-news").html("<a href='/news-events' onClick=\"ga('send','event','primary-nav','/primary-nav/virginia/handheld-ios/news');\">News</a>");
        $("#nav-virginia-about").html("<a href='/virginia/about' onClick=\"ga('send','event','primary-nav','/primary-nav/virginia/handheld/about');\">About</a>");
        $("#nav-virginia-hours").html("<a href='/virginia/hours' onClick=\"ga('send','event','primary-nav','/primary-nav/virginia/handheld/hours');\">Hours</a>");

        $("#nav-utlc-about").html("<a href='utlc/about' onClick=\"ga('send','event','primary-nav','/primary-nav/utlc/handheld/about');\">About</a>");
        $("#nav-utlc-programs").html("<a href='/utlc/programs' onClick=\"ga('send','event','primary-nav','/primary-nav/utlc/handheld/programs');\">Programs</a>");
        $("#nav-utlc-news-events").html("<a href='/utlc/news-events' onClick=\"ga('send','event','primary-nav','/primary-nav/utlc/handheld/news-events');\">News & Events</a>");
        $("#nav-utlc-teaching").html("<a href='/utlc/teaching/teaching-guide' onClick=\"ga('send','event','primary-nav','/primary-nav/utlc/handheld/teaching');\">Teaching Guide</a>");
        $("#nav-utlc-resources").html("<a href='/utlc/resources' onClick=\"ga('send','event','primary-nav','/primary-nav/utlc/handheld/resources');\">Resources</a>");
        $("#nav-utlc-libraries").html("<a href='/' onClick=\"ga('send','event','primary-nav','/primary-nav/utlc/handheld/libraries');\">GW Libraries</a>");

      }

	}(jQuery));
  --></script>
<!-- end accessibleMegaMenu -->
 
<!-- validator tools for Catalog search : converting to new Launchpad Search -->
	<script type="text/javascript"><!--
	function validate(f,opt) {

	// f is the form data, opt can be preview query,view log, 
	// or true (meaning submit if no errors)

	// Define target of search
		// failover: WRLC set AQB to "http://discovery.wrlc.org";
		// New Search (Default) set AQB to "http://findit.library.gwu.edu/search"
		// New Search beta set AQB to "http://gwfindit-beta.wrlc.org/search";

        // this is set on the Admin page of the site: /admin/config/content/catalog_pointer. 
        <?php
          // checks to see if function exists and sets the catalog target (set in GW custom Catalog Pointer module) and if not sets a default value (our current Launchpad catalog search).
          if (function_exists('catalog_pointer_check')) {$catalogTarget = catalog_pointer_check();} else {$catalogTarget = "http://findit.library.gwu.edu/search";} 
        ?>
        AQB = "<?php echo $catalogTarget; ?>";

	// Define some HTML address field constants
		cSPACE="%20";
		cQUOTE="%22";
		cLPAREN="%28";
		cRPAREN="%29";

	// Initialize variables
		myError='';
		myCriteriaCount=0;
		myQuery=AQB+"?q=";
		myNewQuery='';

	// GET TEXT FIELD 
		myTXT1=f.TXT1.value;

	// GET INDEX (FIELD)
		myIDX1=f.IDX1.options[f.IDX1.selectedIndex].value;

	// GET COUNT OF CRITERIA BASED ON VALUE IN TEXT FIELD OR MATERIAL TYPE
		if (myTXT1 !='') myCriteraCount=myCriteriaCount++;

	// Remove most special characters from all text fields 
	// ** ALLOW asterisk, dot, dash. 

		// if (myTXT1!='') { myTXT1 =  myTXT1.replace(/[^a-zA-Z 0-9 '*.-?]+/g,' '); }

	// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
	// 			VALIDATE INPUT
	// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
	// Accumulate error messages. When done if error message is null it is
	// alright to submit the form.

	// TEST: At least one criteria is required.
		if (myCriteriaCount==0)
			myError+='Please enter at least one selection criteria.';

	// TEST: Length of any given text field has to be a minimum length

		if (myTXT1 !='') {
			if(myTXT1.length < 1) 
			myError+='The text field is too small.\n'; }

	// 09-24-2010 added spaces around reserved word 	
	// TEST: Value in TXT contains all caps reserved words "OR", "AND", "NOT"
		errAND=myTXT1.indexOf(" AND "); 
		errOR=myTXT1.indexOf(" OR ");
		errNOT=myTXT1.indexOf(" NOT ");
		// commenting out error msg to skip test for OR AND NOT 
		//if (errAND>=0) 
		//	{ myError+="Query text field 1 contains reserved word AND\n"; }
		//if (errOR>=0)  
		//	{ myError+="Query text field 1 contains reserved word OR\n"; }
		//if (errNOT>=0) 
		//	{ myError+="Query text field 1 contains reserved word NOT\n"; }

	// BUG_FIX: When Value of TXT1 is the keyword material, add asterisk
		if (myTXT1 =='material') {
			myTXT1='material*';
		}

	// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
	// 	BRANCH HERE.
	// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
		if (myError!='') { 
			alert(myError); 
			return(false);
			}
			else {  
			// - - - - - - - - - - - - - - - - - - - - - 
			// 	CONSTRUCT THE QUERY STATEMENT
			// - - - - - - - - - - - - - - - - - - - - -
			myNewQuery=constructQuery(myCriteriaCount,myQuery, myIDX1, myTXT1);
			
			}
			//
			// Within AquaBrowser assuming the form is in the center frame 
			// this is one syntax that can be used to overwrite the frameset
			//
			//parent.parent.window.location=myNewQuery;
			var newtab = window.open();
			newtab.location=myNewQuery;

	// end of function

	}
	// - - - - - - - - - - - - - - - - - - - - - - - - - -
	// 		UTILITY FUNCTION
	// - - - - - - - - - - - - - - - - - - - - - - - - - - 

	function err(text,occurnum) {
		// First error occurence ends with newline, other occurences
		// begin with tab and end with newline.
		//
		if (occurnum==1)
		var textline=text+'\n';
			else {
			var textline='\t* '+text+'\n';
			}
	return (textline);
	}

	// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
	// 	CONSTRUCT QUERY
	// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
	function constructQuery(myCriteriaCount,myQuery,myIDX1,myTXT1) {
		
		var parsedQuery=myQuery;
		// myQuery already has the AQB?=

		// initialize, copy variables

		var GRP1_IDX=myIDX1;
		var GRP1_TXT=myTXT1;

		// When keyword: is the selected field, 
		// nullify the prefix 
		//
		if (GRP1_IDX == 'keyword:') {
			GRP1_IDX='';
		}
		// When journaltitle: is the selected field, 
		// add filter material-id:matSerial to include serial and variants
		// as well as enclosing search terms in quotes
		if (GRP1_IDX == 'journaltitle:') {
			// (for Surveryor) GRP1_IDX='material-id:matSerial%20AND%20title:';
			// setting prepend and facet for journal title search in Launchpad Search
			var JPRE='titlecombined:';
			var JFACET='&facet=ContentType%3AJournal+%2F+eJournal&facet=ContentType%3ANewspaper&page=1';
			// 09-24-2010 added next two lines
			// removal of the quote when the word and is used because then you do not get ampersand
					//trapand=GRP1_TXT.indexOf(" and ");
					//if (trapand<0) { GRP1_TXT=JPRE+GRP1_TXT+JFACET; }
			GRP1_TXT=JPRE+GRP1_TXT+JFACET;
		}
			// 11-19-2010 add same trap for the word "and" for title searches as journaltitle
		if (GRP1_IDX =='titlecombined:') {
					trapand=GRP1_TXT.indexOf(" and ");
					if (trapand<0) { GRP1_TXT=cQUOTE+GRP1_TXT+cQUOTE; }
			}
			

		// When some other fields are selected, add quotes
		if (GRP1_IDX =='callnumber:') GRP1_TXT=cQUOTE+GRP1_TXT+cQUOTE;
			if (GRP1_IDX =='author:') GRP1_TXT=cQUOTE+GRP1_TXT+cQUOTE;
		if (GRP1_IDX =='subject:') GRP1_TXT=cQUOTE+GRP1_TXT+cQUOTE;
		
		// concatenate the components into a single query string
		
		// parsedQuery+=GRP1_IDX+GRP1_TXT;

		if (GRP1_IDX == 'journaltitle:') {
            parsedQuery+=GRP1_TXT;
        } else {
            parsedQuery+=GRP1_IDX+GRP1_TXT;
        }
		return (parsedQuery);
	}
	--></script>
<!-- end catalog search validator -->

<!-- trimming long text input in Bento (testing, not implemented) -->
<script type="text/javascript"><!--

function bentoTrim(f,opt) {

	// define target of search
	bentoPath="/search-all?query=";

	// get text field from form
	myTXT=f.query.value;

	// trim text field
	myTrim = myTXT.replace(/^(.{100}[^\s]*).*/, "$1") + "\n";

	// set path + trimmed text
	newQuery=bentoPath+myTrim;

	// send modified query to bento
	window.open(newQuery);

//	var newtab = window.open();
//	newtab.location=newQuery;

}

--></script>
<!-- end Bento trimming -->

<!-- check for touch enabled device and set front page refresh (12 hour = 43200000) for touch devices to make sure ipad kiosks show current info -->
<script type="text/javascript"><!--

if ("ontouchstart" in window || navigator.msMaxTouchPoints)
{
    isTouch = true;
    <?php if(drupal_is_front_page()): ?>  
    setTimeout(function () { location.reload(1); }, 21600000);
    <?php endif; ?>
    //document.body.className+=" touch-enabled";
    //window.alert('isTouch true');
} else {
    isTouch = false;
    //document.body.className += " touch-not-enabled";
    //window.alert(isTouch);
}
--></script>

<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
    chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
