#main-sidebar ul.menu {
  font-size: 1em;
}

.region-sidebar h2.block-title, .region-rsidebar h2.block-title {
  font-family: "AvenirLTStd-HeavyOblique", Helvetica, Arial, sans-serif;
  margin-top: 0.375em;
  margin-bottom: 0.1875em;
  font-size: 28px;
  font-size: 24px;
  letter-spacing: 0.05em;
  border-bottom: 0.03571em solid #c8b18b;
}
.region-sidebar h2 {
  font-size: 24px;
  margin: 1em 0 0;
}
.block-menu h2.block-title {
    border-bottom-width: 0px;
}

.block-views {
  margin-bottom: 2em;
}

li.expanded, li.collapsed, li.leaf {
  padding: 0;
}

p, li {
  line-height: 1.5em;
}

span.heroHeroBtn a:after {
  background-image: url("../../images/arrows/readmore.png");
}

#header-hours {
  font-size: .55em;
  line-height: 1.3em;
}

#header-hours .container {
  margin: 0;
}

#header-hours tbody {
  border-width: 0;
}

.search-dropdown-inner {
  line-height: 1.231;
}

#internal-featured-services h4.promo-title a {
  font-family: "AvenirLTStd-Roman", Helvetica, Arial, sans-serif;
}

.search-form {
  margin-bottom: 0;
}

#block-block-37 h2 { /* VSTC hours page */
  border-bottom: 0;
}

.view-staff-directory table {
  clear: right;
}

tbody, form tbody {
  border-top: 0;
}

/*
ul.nav-menu, ul.nav-menu ul {
    position: relative;
    z-index: 10;
}

ul.nav-menu, ul.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.nav-menu li {
  position: relative;
  border-top: 0;
  float: left;
  background-color: #033C5A;
  list-style-type: none;
  display: inline-block;
  min-height: 3rem;
  line-height: 3em;
}

ul.nav-menu, ul.nav-menu ul, ul.nav-menu li {
  border: 0;
}

ul.nav-menu a {
    display: block;
    color: #027ac6;
}

ul.nav-menu a {
  font-size: 1rem;
  padding: 0 0.75rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

ul.nav-menu a {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

ul.nav-menu li a {
  color: #fefefe;
  text-decoration: none;
  display: inline-block;
display: block;
}

ul.nav-menu ul {
  top: 1.8em;
  left: -1px;
  margin-right: 0;
}

ul.nav-menu ul {
  left: 1px;
  top: 3em;
  box-shadow: #333 2px 2px 10px;
}

ul.nav-menu li:hover ul, ul.nav-menu li.menuparent li:hover ul, ul.nav-menu li.menuparent li.menuparent li:hover ul, ul.nav-menu li.menuparent li.menuparent li.menuparent li:hover ul, ul.nav-menu li.over ul, ul.nav-menu li.menuparent li.over ul, ul.nav-menu li.menuparent li.menuparent li.over ul, ul.nav-menu li.menuparent li.menuparent li.menuparent li.over ul, #header-region ul.nav-menu li:hover ul, #header-region ul.nav-menu li.menuparent li:hover ul, #header-region ul.nav-menu li.menuparent li.menuparent li:hover ul, #header-region ul.nav-menu li.over ul, #header-region ul.nav-menu li.menuparent li.over ul, #header-region ul.nav-menu li.menuparent li.menuparent li.over ul {
  visibility: visible;
}

.nav-menu li ul {
  right: 0;
  left: auto;
}

ul.nav-menu ul li a {
  line-height: 1.5rem;
  padding-top: 0.75rem;
}

.nav-menu li li {
  white-space: nowrap;
  float: left;
}

ul.nav-menu ul li {
  display: block;
}

ul.nav-menu ul li {
  display: inline-block;
  min-width: 200px;
}

ul.nav-menu li li {
  border-top: 0;
}
ul.nav-menu ul li {
  clear: both;
}

ul.nav-menu li:hover {
  background-color: #0D78AA;
}

ul.nav-menu li ul li:hover {
  background-color: #0D78AA;
}
*/

ul.nav-menu li	 {
  color: #688A9C;
}

ul.nav-menu a {
  color: #fefefe;
}

ul.nav-menu li:hover {
  background-color: #0D78AA;
}
ul.nav-menu li ul li:hover {
  background-color: #0D78AA;
}

ul.nav-menu li li a {
  padding: 0 .75em;
}

.leaf-extended {
  margin-left: -.75em;
}

ul.nav-menu li li, .sub-menu-group .leaf-section-title {
  background-color: #033C5A;
  min-height: 2.5rem;
  line-height: 2.5em;
  min-width: 200px;
}

.sub-menu-group .leaf-section-title {
  color: rgba(255,255,255,.8);
  text-transform: uppercase;
  padding: 0 .75em;
  background-color: #003055;
}
.sub-menu-group .leaf-section-title::before, 
.sub-menu-group .leaf-section-title::after {
  content: "■";
  display: none;
  margin: 0 .5em;
}
.sub-menu-group .leaf-section-title a {
  font-weight: 700 !important;
  text-transform: uppercase;
}
