/* Very top header */

#topheader-container {
  background-image: none;
  background-color: transparent;
  height: 120px;
  margin-bottom: 0;
}
@media screen and (max-width: 960px) {
  #topheader-container {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 640px) {
  #topheader-container {
    height: 72px;
  }
}
#topheader-content {
  position: relative;
  max-width: 1080px;
  height: 120px;
}
@media screen and (max-width:640px) {
  #topheader-content { height: 64px; }
}
#gwlogo-topheader, #gwlogo-topheader img {
  width: 250px;
}
@media screen and (max-width: 640px) {
  #gwlogo-topheader, #gwlogo-topheader img {
    width: 150px;
  }
}
#lai-division {
  position: absolute;
  top: 90px;
  left: 125px;
}
@media screen and (max-width: 960px) {
  #lai-division {
    left: 130px;
  }
}
@media screen and (max-width: 640px) {
  #lai-division {
    display: none;
  }
}

/* Dropdown menus */

#secondary-nav {
  width: 100%;
  /*background-color: #004065;*/
  height: auto;
  margin: 0;
}
#secondary-nav > ul {
  max-width: 1080px;
  margin: auto;
  text-align: right;
}
@media screen and (min-width: 840px) {
  .is-branch #secondary-nav > ul {
    border-right: 1px solid rgb(200,177,139);
  }
  .is-branch #secondary-nav > ul > li {
    border-top: 5px solid rgb(200,177,139) !important;
    margin: -3px 0 0 -4px !important;
  }
}
@media screen and (max-width: 960px) {
  #secondary-nav >  ul {
    width: auto;
  }
}
@media screen and (max-width: 840px) {
  #secondary-nav ul.menu {
    background-color: #004065;
    border-top-width: 0;
  }
}
.nav-item {
  text-align: left;
  background-color: transparent;
  min-height: 3rem;
  line-height: 3em;
  position: relative;
  display: inline-block;
}
#nav-hours {
  display: none;
}
/*
.nav-item > a.open, .nav-item > a:focus {
  background-color: #0096d6;
  border-bottom-color: #0096d6;
  border-bottom-width: 0;
}
*/
.nav-menu li a {
  padding: 0 .75rem;
  color: #fff;
  text-transform: none;
  font-size: 1em;
  font-weight: normal;
  min-height: 3rem;
  line-height: 3em;
}
.nav-menu > li:not(:first-child):before {
  content: "|";
  color: #688A9C;
  text-align: center;
  display: inline-block;
}
@media screen and (max-width: 640px) {
  .nav-menu > li:not(:first-child):before {
    content: "";
    display: none;
  }
  #secondary-nav ul.menu li {
    width: calc(33% - .5em);
    background-color: #0096d6;
    display: inline-block;
    float: left;
    min-height: 0;
    line-height: normal;
    margin: 0 .5em .5em 0 !important;
  }
  #secondary-nav ul.menu li a {
    min-height: 0;
    line-height: normal;
    padding: .5em;
  }
}
.sub-nav {
/*
  background-color: #0096d6;
*/
  border-width: 0;
  box-shadow: #333 2px 2px 10px;
  margin-top: 0;
  top: 100%;
  right: 0;
  white-space: nowrap;
}
.nav-item:first-child .sub-nav {
  right: auto;
  left: 0;
}
.sub-nav a {
  text-decoration: none;
  line-height: normal !important;
  height: normal !important;
}
.sub-nav li:hover{
  background-color: #004065;
}
.sub-menu-group .leaf-section-title:hover {
  background-color: #0096d6;
}
#secondary-nav ul li.expanded {
  border-width: 0;
  margin: 0;
  height: auto;
}

.center-content {
  max-width: 1080px;
}
.page-node-1 .primary-content-363 {
  max-width: 1080px;
  width: auto;
}

/* Hero image */

#hero {
  position: relative;
  max-width: 1080px;
  margin: auto;
  visibility: visible;
}
@media screen and (max-width: 1080px) {
  #hero {
    width: 100%;
  }
}
#hero img {
  width: 100%;
}
@media screen and (max-width: 640px) {
  #hero img {
    display: none;
  }
}
@media screen and (min-width: 840px) {
  .is-branch #hero {
    border-right: 1px solid rgb(200,177,139);
  }
}
#branch-name {
  position: absolute;
  bottom: 0;
  color: #fff;
  font-size: 1.3em;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  border: 1px solid rgb(200,177,139);
  background-color: rgba(200,177,139,.85);
  right: 0;
  padding: .5em 1em;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
}
@media screen and (max-width: 1080px) {
  #branch-name {
    bottom: 3rem;
    font-size: 1em;
  }
}
@media screen and (max-width: 795px) {
  #branch-name {
    /* bottom: 132px; */
  }
}
@media screen and (max-width: 640px) {
  #branch-name {
    /* bottom: calc(100% + 6em); */
  }
}  

/* Search box on home and internal pages */

#primo-container {
  background-color: #fff;
  display: flex;
  border-radius: 3px;
  align-items: center;
  position: relative;
  margin: auto;
}

#search-input {
  height: 60px;
  border-radius: 3px;
  padding-left: 1em;
  font-size: 1.2em;
  border-width: 0;
  box-sizing: border-box;
  flex: 1;
  outline: none;
}
#internal-search #search-input {
  height: 36px;
  height: auto;
  padding-left: .5em;
}

#primo-dropdown-copy {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  display: none;
  box-sizing: border-box;
  z-index: 4;
  cursor: pointer;
}

.primo-divider {
  height: 30px;
  transform: rotate(15deg);
  border: 1px solid #e1e1e1;
  border-width: 0 1px 0 0;
  width: 1px;
  margin-left: .5em;
}
#internal-search .primo-divider {
  height: 20px;
}

#scope-dropdown {
  position: relative;
  cursor: pointer;
  z-index: 3;
  height: 60px;
  line-height: 60px;
  text-align: left;
}
#internal-search #scope-dropdown {
  height: 36px;
  height: auto;
  line-height: 36px;
  line-height: normal;
}

#current-scope {
  color: #3a3a3a;
  white-space: nowrap;
  margin-left: 1em;
}

#current-scope::after, #scope-dropdown li::after {
  content: '\25BC'; /* Triangle */
  transform: scaleY(.6) scaleX(1);
  padding-left: .25em;
}

#scope-dropdown li::after {
  color: transparent;
}

#scope-dropdown ul, #primo-dropdown-copy ul {
  display: none;
  white-space: nowrap;
  position: absolute;
  top: -2px;
  right: -16px;
  z-index: 4;
  color: #3a3a3a;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
}
#internal-search #scope-dropdown ul {
  top: -23px;
}
#primo-dropdown-copy ul {
  position: static;
  text-align: left;
  color: #53738c;
  font-style: italic;
}
#primo-dropdown-copy .search-query {
  color: #545454;
  font-style: normal;
  padding-right: .5em;
}
#scope-dropdown li, #primo-dropdown-copy li {
  margin: 0;
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
}
#primo-dropdown-copy li {
  height: 36px;
  line-height: 36px;
}
#scope-dropdown li:hover, #scope-dropdown li:focus, #primo-dropdown-copy li:hover, #primo-dropdown-copy li:focus, #primo-dropdown-copy li.highlightedQuery {
  background-color: #f2f2f2;
}

@media screen and (max-width: 500px) {
  #scope-dropdown {
    width: 2em;
    white-space: nowrap;
  }
  #current-scope {
    outline: none;
    font-size: 0;
  }
  #current-scope:after {
    font-size: 16px;
    margin-left: 1em;
    padding-left: 0;
  }
  #current-scope:focus::after {
    outline: 1px dotted currentColor;
  }
}

#internal-search #scope-dropdown {
  width: 2em;
  white-space: nowrap;
}
#internal-search #current-scope {
  outline: none;
  font-size: 0;
}
#internal-search #current-scope:after {
  font-size: 16px;
  margin-left: 1em;
  padding-left: 0;
}
#internal-search #current-scope:focus::after {
  outline: 1px dotted currentColor;
}

#primo-go {
  background-color: transparent;
  padding: 0;
  margin: 0 1em 0;
  width: 30px;
  height: 30px;
  position: relative;
}
#internal-search #primo-go {
  margin-right: .5em;
}
#primo-go:focus {
  outline: 1px dotted #0f7d00;
}
#primo-go svg {
  transform:scale(-1,1);
  fill: #0f7d00;
}
#primo-dropdown-copy svg {
  transform:scale(-1,1);
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: #999;
}

#hero h3, #home-search-explanation {
  text-shadow: 0 0 5px rgba(0,0,0,1);
}
#home-search-explanation {
  margin: 1em auto;
}
#home-search-explanation a {
  text-decoration: underline;
}
#home-search {
  position: absolute;
  text-align: center;
  width: 700px;
  left: 190px;
  top: 30px;
}
@media screen and (max-width: 1080px) {
  #home-search {
    width: 100%;
    left: 0;
    top: 20px;
  }
  #primo-container, #home-search-explanation {
    width: 700px;
  }
}
@media screen and (max-width: 940px) {
  #home-search {
    top: 10px;
  }
  #primo-container, #home-search-explanation {
    max-width: 640px;
  }
}
@media screen and (max-width: 840px) {
  #home-search {
    top: 0;
  }
}
@media screen and (max-width: 720px) {
  #home-search {
    top: 0;
  }
  #primo-container {
    margin-top: 2em;
  }
  #internal-search #primo-container {
    margin-top: 0;
  }
  #primo-container, #home-search-explanation {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 640px) {
  #home-search {
    position: static;
  }
  #search-form {
    background-color: #004065;
    padding: .5em;
    box-sizing: border-box;
  }
  #primo-container, #home-search-explanation {
    width: 100%;
    margin-top: 0;
  }
  #home-search-explanation {
    background-color: #004065;
    padding: 0 .5em .5em;
    box-sizing: border-box;
    text-shadow: none;
  }
  #hero {
    min-height: 100px;
    width: auto !important; /* ? */
  }
  #hero-image {
    display: none;
  }
}

#home-search, #home-search-explanation, #home-search h3, #home-search a {
  color: #fff;
}
#search-form input[type=text]::-webkit-input-placeholder { color: #777; opacity: 1; }
#search-form input[type=text]:-moz-placeholder { color: #777; opacity: 1 } /* FF 4-18 */
#search-form input[type=text]::-moz-placeholder { color: #777; opacity: 1; } /* FF 19+ */
#search-form input[type=text]:-ms-input-placeholder { color: #777; opacity: 1; } /* IE 10+ */
#search-form input[type=text]:focus::-webkit-input-placeholder { opacity: 0.5; }
#search-form input[type=text]:focus:-moz-placeholder { opacity: 0.5; }
#search-form input[type=text]:focus::-moz-placeholder { opacity: 0.5; }
#search-form input[type=text]:focus:-ms-input-placeholder { opacity: 0.5; }

#hero h3 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1em;
}
@media screen and (max-width: 900px) {
  #hero h3 {
    margin: 1.25em 0 1em;
  }
}
@media screen and (max-width: 840px) {
  #hero h3 {
    margin: 1.25em 0 .75em;
  }
}
@media screen and (max-width: 780px) {
  #hero h3 {
    margin: 1em 0 .5em;
  }
}
@media screen and (max-width: 720px) {
  #hero h3 {
    display: none;
  }
}
#hero-image {
  width: 100%;
}

#internal-search {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 100%;
  min-height: 3rem;
  line-height: 3rem;
  z-index: 50;
  padding: .5em;
  box-sizing: border-box;
}
#internal-search:hover {
  background-color: #007FB7;
}
#internal-search #search-form {
  width: 450px;
}
@media screen and (max-width: 1080px) {
  #internal-search {
    bottom: auto;
    top: 0;
    position: static;
    background-color: #004065;
    z-index: 10;
  }
  #internal-search #search-form {
    width: auto;
  }
}
#internal-search #search-input {
  font-size: 1em;
}

/* Row of featured service icons on internal pages */

#internal-featured-services .promo-items-item, #internal-featured-services h4 {
  display: inline-block;
  font-size: 1em;
  white-space: nowrap;
  line-height: 30px;
  font-weight: normal;
  position: relative;
  margin: 0;
}
@media screen and (max-width: 800px) {
  #internal-featured-services h4 {
    display: none;
  }
}
#internal-featured-services .promo-image, #internal-featured-services .promo-image img {
  width: 30px;
  display: inline-block;
}
#internal-featured-services {
  margin: .5em auto 1em;
  text-align: right;
  max-width: 1080px;
  position: inherit;
  z-index: 1;
}
#internal-featured-services .promo-body {
  display: none;
}
#internal-featured-services .promo-label {
  padding: .25em 1em;
  margin: 0 -.5em;
  border: 1px solid transparent;
  z-index: 3 !important;
  position: relative;
  display: inline-block;
}
#internal-featured-services .promo-items-item:hover .promo-label {
  border: 1px solid #ccc;
  background-color: #eee;
}
#internal-featured-services .promo-items-item.has-promo-body .promo-label {
  border-bottom-width: 0;
}
#internal-featured-services .promo-items-item:hover .promo-body {
  z-index: 2 !important;
  display: block;
  position: absolute;
  top: 100%;
  margin-top: -2px;
  right: -.5em;
  border: 1px solid #ccc;
  background-color: #eee;
  text-align: left;
  padding: .5em 1em;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
}
