.center-content {
  max-width: 1080px;
}
.page-node-1 .primary-content-360 {
  width: 66%;
  max-width: 1080px;
  /*width: auto;*/
}
.page-node-1 #frontPageBanner {
  display: none;
}

/* Featured Services icons on homepage */

/* these first 2 media queries are for the services block: 129 is the block no. on CA dev, 127 is no. on test.lib */
@media screen and (min-width:841px) {
  #block-block-129, #block-block-127 { display: none; }
}
@media screen and (max-width:840px) {
  #block-block-129, #block-block-127 { 
    display: inline-block; 
    width: 98%;
  }
  .primary-content-360 .promotional-five-col { display: none; }
  .page-node-1 .primary-content-360 { width: 100%; }
}

#featured-services .promo-items-item, #featured-services-block .promo-items-item {
  width: 20%;
  float: left;
  padding: 0 .5em;
  box-sizing: border-box;
}
#featured-services, #featured-services-block {
  float: left;
  width: 100%;
  margin: .4em 0;
}
@media screen and (max-width: 840px) {
  #featured-services, #featured-services-block {
    float: none;
    width: 100%;
  }
}
#featured-services h4, #academic-success-resources h4 {
  font-weight: bold;
  font-size: 1.3em;
  line-height: normal;
  margin: .5em 0;
}
@media screen and (max-width: 640px) {
  #featured-services, #featured-services-block {
    margin-top: .5em;
    text-align: center;
  }
  #featured-services .promo-items-item, #featured-services h4, #featured-services-block .promo-items-item, #featured-services-block h4 {
    width: auto;
    float: none;
    display: inline;
    font-size: 1.15em;
    padding: 0 .5em 0 0;
    white-space: nowrap;
    line-height: 40px;
    font-weight: normal;
  }
  #featured-services .promo-image, #featured-services .promo-image img, #featured-services-block .promo-image, #featured-services-block .promo-image img {
    width: 40px;
    display: inline;
  }
  #featured-services .promo-body, #featured-services-block .promo-body {
    display: none;
  }
}


/* New style for Library Events on homepage */

.page-node-1 .region-rsidebar {
  float: right;
  width: 33%;
  box-sizing: border-box;
  padding-left: 1em;
}
@media screen and (max-width: 840px) {
  .page-node-1 .region-rsidebar {
    float: none;
    width: 100%;
    clear: both;
  }
}
@media screen and (max-width: 640px) {
  .page-node-1 .region-rsidebar {
    display: initial;
    visibility: visible;
    clear: both;
  }
}

#block-views-libraries_events-block_1 .events-list-text {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    color: #111;
    font-weight: normal;
    line-height: 16px;
    margin: 1em 0 .5em;
}

#block-views-libraries_events-block_1 .date-display-range { display: inline; }

#block-views-libraries_events-block_1 h2 {
  margin-top: -1em;
}

#branches h2 {
  margin-top: 0;
}

#block-views-libraries_events-block_1 .views-row {
  min-height: 100px;
  padding-bottom: 1em;
  border-bottom: 0.03571em solid #c8b18b;
}
#block-views-libraries_events-block_1 .img-wrapper {
  width: 100px;
  float: left;
  margin: 0 1em .5em 0;
}
.view-libraries-events .view-footer {
  text-align: right;
  margin-top: .5em;
}




#donate-feedback {
  margin-top: -3em;
}
#donate-feedback .promo-image {
  float: left;
  margin: 0 1em .5em 0;
  width: 40px;
}



/* All GW Libraries section of homepage */

header.major p { display: none; }  /*hide mystery empty p*/

.promotional-three-col .promo-items-item {
  width: 33.33%;
  float: left;
  padding-right: 1em;
  box-sizing: border-box;
}
.promotional-three-col .promo-items-item:last-child {
  padding-right: 0;
}
#branches {
  clear: left;
  float: left;
  width: 100%;
  margin: 2em 0;
}
@media screen and (max-width: 840px) {
  #branches {
    float: none;
    width: 100%;
  }
}
#branches-icon {
  width: 40px;
  float: left;
}
#branches-content {
  width: calc(100% - 35px);
  box-sizing: border-box;
  padding-left: 1em;
  margin-left: 35px;
}
#branches h4 {
  font-weight: bold;
  font-size: 1.3em;
  line-height: normal;
  margin: .5em 0;
}
@media screen and (max-width: 640px) {
  #branches h4 {
    font-size: 1.2em;
    font-weight: normal;
  }
}
#branches-other {
  clear: left;
}
#branches-other p {
  padding-top: 1em;
}


/* Academic Success Resouces block */

#academic-success-resources .promo-items-item {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-right: 1em;
}
