#showcase-intro {
  position: relative;
  background-repeat: no-repeat;
  background-position: calc(50% + 150px) 50%;
  min-height: 450px;
}
#showcase-intro-text {
  color: #fff;
  max-width: 300px;
  text-align: left;
  padding: 1em;
  margin-left: calc((100% - 1080px) / 2);
  position: relative;
  z-index: 2;
}
#showcase-intro-text a {
  color: #fff;
}
@media all and (max-width: 1080px) {
  #showcase-intro-text {
    max-width: 100%;
    margin-left: 0;
  }
}
#showcase-leading-image {
  position: absolute;
  left: calc((100% - 1080px) / 2);
  top: 0;
  margin-left: 300px;
  width: calc(1080px - 300px);
  height: 450px;
  z-index: 1;
}
#showcase-leading-image img {
  display: none;
}
@media all and (max-width: 1080px) {
  #showcase-leading-image img {
    display: inline;
  }
  #showcase-intro {
    background-image: none !important;
  }
  #showcase-leading-image {
    left: 0;
    margin-left: 0;
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
  }
}
#showcase-intro:hover #showcase-intro-text {
  background-color: rgba(255,255,255,.3);
}
#showcase-intro h2 {
  color: #fff;
  font-size: 2em;
}
#showcase-intro p {
  color: rgba(255,255,255,.8);
  margin: 1em 0 0;
}
.showcase-gallery {
  width: 1080px;
  margin: 1em auto 2em;
}
@media screen and (max-width: 1080px) {
  .showcase-gallery {
     width: 100%;
  }
}
.showcase-gallery > div {
  float: left;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #fff;
  box-shadow: 0 0 5px #666;
  margin: 0;
  padding: 0;
  max-height: 400px;
  height: 400px;
  overflow: hidden;
  max-width: calc((100% - 552px) / 9);
}
.showcase-gallery > div.showcase-hovered {
  max-width: 1080px;
  transition: all 2.5s;
}
@media screen and (max-width: 800px) { .showcase-gallery > div, .showcase-gallery > div.showcase-hovered, .showcase-gallery img, .showcase-gallery a {
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    height: 100%;
    float: left;
} }
.showcase-caption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  color: #fff;
  font-weight: bold;
  padding: 1em;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}
.showcase-hovered .showcase-caption {
  white-space: normal;
}
.showcase-gallery a {
  display: block;
  width: 1080px;
}
#maincontent {
  max-width: none;
}
section.pane {
  background-image: none;
  padding-top: 0;
  margin-bottom: 0;
}
#backToTopContainer, section.pane h1.page-title, #main-sidebar {
  display: none !important;
}
.primary-content-063 {
  margin-left: 0;
}
#showcase-text {
  margin: auto;
  background-color: #fff;
  padding: 1em 2em;
  background-color: rgba(256,256,256,1);
  max-width: 1080px;
}
@media screen and (max-width: 1080px) {
  #showcase-text {
    max-width: 100%;
  }
}
#showcase-text-body {
  padding-top: 2em;
  padding-left: calc(201px + 3em); 
  width: 1080px; 
  margin: auto; 
  box-sizing: border-box;
}
@media screen and (max-width: 1080px) {
  #showcase-text-body {
    width: 100%;
  }
}
#showcase-featured-links {
  width: 200px;
  float: left;
  clear: both;
  border-right: 1px solid #ccc;
  margin-right: 2em;
  padding: 1em 1em 1em 0;
  margin-left: calc((100% - 1080px) / 2);
}
#showcase-featured-links li {
  margin-bottom: 1em;
}
@media screen and (max-width: 1080px) {
  #showcase-featured-links {
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  #showcase-text-body {
    padding-left: 0;
  }
  #showcase-featured-links {
    float: none;
    border-width: 0;
    margin-right: 0;
    width: 100%;
  }
}
#showcase-trailing-image {
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 600px;
  background-position: left 0;
  background-attachment: fixed;
}
